[Unit]
Description=Popub Local
After=network-online.target

[Service]
Type=simple
User=nobody
# Fill in your parameters and uncomment the following line
#ExecStart=/usr/local/bin/popub-local :<local port> <relay ip>:<relay port> <password>
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
