[Unit]
Description=Portpub Relay
After=network-online.target

[Service]
Type=simple
User=nobody
# Fill in your parameters and uncomment the following line
#ExecStart=/usr/local/bin/portpub-relay :<relay port> :<public port> <password>
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
